/* 
    Project: Diamantair
    Author(s): Richard Roberts
*/

/* ---------------------------------------------------------------------------
 * CONTENTS
 * ---------------------------------------------------------------------------
 *
 * 1. Imports
 * 2. Hero
 * 3. Product List
 * 4. Navbar
 *
 */

/* ---------------------------------------------------------------------------
 * 1. Imports
 * ---------------------------------------------------------------------------
 */

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path:   "../bower_components/font-awesome/fonts";
$ionicons-font-path:  "../bower_components/ionicons/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "ionicons/scss/ionicons.scss";

/* ---------------------------------------------------------------------------
 * 2. Global
 * ---------------------------------------------------------------------------
 */

:focus {
  outline: 0 !important;
}

h1 {
  margin: 0;
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

strong {
  font-weight: 600;
}

.btn-primary {
  padding: 10px 40px;
}


/* ---------------------------------------------------------------------------
 * 2. Hero
 * ---------------------------------------------------------------------------
 */

.hero {
  background: url('../images/header-bg.jpeg') no-repeat 50% 50%;
  background-size: cover;
  padding: 80px 0;

  &.set {
    margin-top: 50px;
  }
}

.logo {
  background: url('../images/logo.png') no-repeat;
  background-size: 220px;
  width: 220px;
  height: 86px;
  float: left;
}
  .logo.small {
    background-size: 90px;
    display: inherit;
    float: none;
    height: 35px;
    margin-left: -45px;
    position: absolute;
    top: 7px;
    left: 50%;
    width: 90px;
  }

.nav-brand {
  display: none;
}
  .fixed .nav-brand {
     display: inline-block;
  }

/* ---------------------------------------------------------------------------
 * 3. Main navigation
 * ---------------------------------------------------------------------------
 */

.navigation-main {
  float: right;
  margin-top: 19px;

  ul {
    text-align: right;
    font-size: $font-size-medium;
    
    li {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $brand-white;

        &:hover,
        &:focus {
          background: none;
        }
      }
    }
  }
}

/* ---------------------------------------------------------------------------
 * 3. Navbar
 * ---------------------------------------------------------------------------
 */

.navbar {
  height: 50px;

  &.fixed {
    top: 0;
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
    position: fixed;
    z-index: 1049;


    &.animate {
      -webkit-transition: all .3s ease-in;
              transition: all .3s ease-in;
       -webkit-transform: translate3d(0, 0, 0);
               transform: translate3d(0, 0, 0);
    }

    .text {
      display: none;
    }
  }

  .navbar-right {
    li {
      border-right: 1px solid $gray-darker;

      &:last-child {
        border: none;
      }

      .cart {
        background: $gray-darker;
        height: 18px;
        width: 18px;
        display: inline-block;
        text-align: center;
        position: relative;
        top: 2px;
        margin-left: 4px;

        &.active {
          background: $brand-primary;
        }

        span {
          position: relative;
          top: -2px;
        }
      }
    }
  }
    .navbar-fixed-top .navbar-right {
      float: right;
      margin: 0;

      a {
        padding-top: 14px;
        padding-bottom: 14px;
      }

      .text {
        display: none;
      }
    }

  .navbar-fixed-top {
    .cart {
      float: right;
    }
  }

 .fa {
    font-size: 18px;
    margin: 0 6px 0 0;
    top: 2px;
    position: relative;
    color: $gray-light;
  }
    &.fixed .fa {
      margin: 0;
    }

    a:hover .fa,
    a:focus .fa {
      color: $brand-white;
    }

  .sign-in-icon,
  .globe-icon,
  .navbar-sticky {
    display: none;
  }
    &.fixed .sign-in-icon,
    &.fixed .globe-icon,
    &.fixed .navbar-sticky {
      display: inline-block;
    }

  .select-lang {
    float: left !important;
    text-transform: uppercase;
    width: 82px !important;
    margin-left: -15px !important;

      .btn-default, {
        text-transform: uppercase;
        background: transparent;
        color: $brand-white;
        border: 0;
        font-size: $font-size-small;
        padding: 16px 15px;
        border-radius: 0;

          &:focus,
          &:hover {
            background: $gray-darker;
            color: $brand-white;
          }

          .filter-option {
            line-height: 18px;
          }

          .flag-icon {
            margin-right: 5px;
          }
      }

      .dropdown-menu {
        border-radius: 0;
        background: $gray-darker;
        border: 0;
        font-size: $font-size-small;
        margin: 0;

        a {
          color: $brand-white;

          &:hover,
          &:focus {
            background: transparent !important;
          }
        }
      }
  }

    .select-lang.open .btn-default {
      background: $gray-darker;
      color: $brand-white;

      .caret {
        border-top: 4px dashed;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }
    }
}

/* ---------------------------------------------------------------------------
 * 3. Off canvas menu
 * ---------------------------------------------------------------------------
 */

.navmenu-fixed-left {
  .select-lang {
    float: none !important;
    margin-left: 0 !important;
    width: 100% !important;

    .btn-default {
      font-size: $font-size-medium;
      padding: 15px !important;
    }

    .dropdown-menu {
      font-size: $font-size-medium;

      a {
        padding: 6px 15px;
      }

      .flag-icon {
        margin-right: 5px;
      }
    }
  }
}

/* ---------------------------------------------------------------------------
 * 3. Product List
 * ---------------------------------------------------------------------------
 */

.product-list {

  .feature,
  .products {
    text-align: center;
    margin-bottom: 15px;

    a {

      &:hover {
        text-decoration: none;
      }

      .wrap {
        background: $gray-lighter;
        padding: 30px;
        height: 262.5px;

        img {
          width: 100%;
          max-width: 200px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        .sale {
          background: $brand-primary;
          color: $brand-white;
          font-size: $font-size-large;
          padding: 3px 8px;
          position: absolute;
          top: 0;
          right: 15px;
        }
      }

      article {
        min-height: 65px;

        .col {
          margin-top: 10px;
        }

        h3, h4 {
          font-size: $font-size-large;
          float: left;
          margin: 0;
        }

        h4 {
          clear: both;
          color: $gray-light;
          font-weight: 300;
          font-size: $font-size-medium;
          margin-top: 4px;

        }

        .price,
        .was-price {
          color: $gray-base;
          float: right;
        }

        .price {
          margin-top: 2px;
        }

        .was-price {
          color: $gray-light;
          text-decoration: line-through;
          font-weight: 200;
          clear: both;
        }

      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .product-list {
    img {
      max-width: 120px !important;
    }
  }
}

@media (min-width: $screen-md-min) {
  .product-list {
    img {
      max-width: 150px !important;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .product-list {
    img {
      max-width: 120px !important;
    }
  }
}

@media (min-width: $screen-xlg-min) {
  .product-list {
    img {
      max-width: 150px !important;
    }
  }
}

/* ---------------------------------------------------------------------------
 * 3. Spinners
 * ---------------------------------------------------------------------------
 */

/** Large spinner **/

.large-spinner {
  font-size: 40px;
}

/* ---------------------------------------------------------------------------
 * 3. PDP
 * ---------------------------------------------------------------------------
 */

.bg-wrap {
  background: $gray-lighter;;
}

#pdp {
  margin: 0 auto;
  max-width: 960px;

  header {

    h1 {
      margin-bottom: 0;
      text-transform: uppercase;
    }

    h2 {
      font-weight: 300;
      margin: 0 0 20px;
    }

    ul {
      border-bottom: 1px solid $gray-light;
      float: left;
      padding-bottom: 5px;
      width: 100%;

      li {
        float: left;
        width: 50%;

        &.price {
          color: $brand-primary;
          font-size: $font-size-poster;
        }

        &.stock {
          font-weight: 500;
          padding-top: 9px;
          text-align: right;
          text-transform: uppercase;
        }
      }
    }
  }

  article {
    .description {
      
      .content {
        float: left;
        max-height: 115px;
        overflow: hidden;
        position: relative;
        

        &:after {
          bottom: 0;
          content: '';
          display: block;
          background-image: linear-gradient(to bottom, transparent, $gray-lighter);
          position: absolute;
          height: 80px;
          width: 100%;
        }
      }

      .link {
        display: inline-block;
        text-align: center;
        padding: 10px 0 20px;
        width: 100%;

        a {
          color: $gray-base;
          text-transform: uppercase;

          i {
            margin-right: 5px;
          }

          &.more {
            display: block;
          }

          &.less {
            display: none;
          }
        }
      }
    }
      .description.active {
        .content {
          max-height: 100%;

          &:after {
            content: none;
          }
        }
        a {
          &.more {
            display: none;
          }

          &.less {
            display: block;
          }
        }
      }

    .simple-mods {

      label {
        margin-top: 4px;
      }

      .nya-bs-select {
        float: right;
      }

      .btn-primary {
        position: relative;
        min-width: 211px;
        padding: 10px 40px 10px 60px;

        svg {
          position: absolute;
          left: 15px;
          top: 12px;
        }
      }

      .btn.favourites {
        border-width: 2px;
        padding: 8px 10px;

        i {
          font-size: 23px;
          vertical-align: middle
        }

        &:hover {
          background: $brand-primary;
          border-color: $brand-primary;
          color: $brand-white;
        }
      }
    }
  }
}

/* ---------------------------------------------------------------------------
 * 2. Forms
 * ---------------------------------------------------------------------------
 */

fieldset {
  margin-bottom: 15px;
  position: relative;

  label {
    font-size: $font-size-extra-large;
    font-weight: normal;
  }

  input {
    border: 2px solid $gray-base;
    font-size: $font-size-large;
    padding: 8px 12px;
    width: 100%;
  }

  .nya-bs-select > .btn {
    border-color: $gray-base;
    border-radius: 0;
    font-size: $font-size-large;

    .caret {
      border-top: 7px dashed;
      border-top: 7px solid \9;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
    }
  }

  .validation-message {
    display: none;
  }
}

fieldset.error {
  .btn {
    border: 1px solid $brand-primary;
    -webkit-box-shadow:inset 0 0 0 1px $brand-primary;
            box-shadow:inset 0 0 0 1px $brand-primary;

    color: $brand-primary;
  }

    .open .btn {
      border-bottom: 0;
      border-top: 0;
      -webkit-box-shadow:inset 0 1px 0 1px $brand-primary;
              box-shadow:inset 0 1px 0 1px $brand-primary;
      padding-top: 9px;

        .carat {
          margin-top: -1px;
        }
    }

    .dropdown-menu {
      border: 2px solid $brand-primary;
      border-top: 1px solid transparent;
    }

    input {
      border: 2px solid $brand-primary;
    }

    .validation-message {
      color: $brand-primary;
      display: block;
      font-size: $font-size-medium;
    }   
}

/* ---------------------------------------------------------------------------
 * 3. Tooltips
 * ---------------------------------------------------------------------------
 */

.tooltip {
  background: $brand-white;
  border: 2px solid $gray-base;
  display: none;
  font-size: $font-size-large;
  font-weight: 500;
  padding: 25px 35px;

  .close {
    color: $gray-base;
    font-weight: 100;
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 5px;
  }

  &:after, &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 14px;
    margin-left: -14px;
  }

  &:before {
    border-color: rgba(34, 34, 34, 0);
    border-top-color: #222;
    border-width: 17px;
    margin-left: -17px;
  }
}

.tooltip.validation {

}
  .error .tooltip.validation {
    display: block;
    opacity: 1;
    top: -100px;
    width: 280px;
  }

/* ---------------------------------------------------------------------------
 * 2. Cart
 * ---------------------------------------------------------------------------
 */

#cart {
  max-width: 800px;

  .table {
    .table-head {
      color: $gray;
      text-transform: uppercase;
    }

    .table-row {
      .prod, .price, .qty, .total,
      .prod-item, .prod-price, .prod-qty, .prod-total, .prod-remove {
        float: left;
      }

      .prod-price, .prod-qty, .prod-total, .prod-remove {
        line-height: 70px
      }
      .prod, .price, .qty, .total {
        padding: 0 15px 10px;
      }
      .prod,
      .prod-item {
        width: 50%;
      }
      .price,
      .prod-price {
        width: 15%;
      }
      .qty,
      .prod-qty {
        width: 12%;
      }
      .total,
      .prod-total {
        width: 15%;
      }
      .prod-remove {
        width: 5%;
        
        a {
          color: $gray-base;
          font-size: 24px;

        }
      }
    }

    .table-content {
      float: left;
      margin-bottom: 5px;
      position: relative;
      width: 100%;

      .prod-item, .prod-price, .prod-qty, .prod-total, .prod-remove {
        background: $gray-lighter;
        float: left;
        font-size: $font-size-large;
        padding: 15px;
        min-height: 100px;
      }

      .prod-remove {
        background: transparent;
      }

      header {
        float: left;
        width: 100%;
      }

      .prod-item {
        figure,
        .prod-content {
          float: left;
        }

        figure {
          background: $brand-white;
          height: 70px;
          text-align: center;
          vertical-align: center;
          width: 70px;

          img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            max-width: 40px;
            width: 100%;
          }
        }

        .prod-content {
          padding-left: 15px;

          h3, h4 {
            font-size: $font-size-large;
            margin: 0;
          }

          h3 {
            text-transform: uppercase;
            margin-bottom: 5px;
            a {
              color: $brand-primary;
            }
          }

          h4 {
            font-weight: 300;
          }

          .more {
            color: $gray-base;
            display: inline-block;
            font-size: $font-size-small;
            margin-top: 9px;
            text-transform: uppercase;

            i {
              font-weight: 500;
              margin-right: 5px;
            }
          }
        }

        a {
          color: $gray-base;
        }
      }
    }

    .table-calcs {
      color: $gray;
      float: left;
      padding-right: 64px;
      width: 100%;

      .sub, .ship, .tot {
        border-bottom: 1px solid $gray-light;
        clear: both;
        float: right;
        padding: 15px 20px 15px 0;
        text-transform: uppercase;
        width: 250px;
      }

        .tot {
          border: 0;
        }

      .calcs-price {
        color: $gray-base;
        float: right;
      }

      .tot {
        .calcs-price {
          font-size: $font-size-large;
        }
      }

      button {
        clear: both;
        float: right;
        margin-top: 20px;
        padding: 10px 52px;

      }
    }

    .remove-modal {
      background: $brand-white;
      border: 2px solid $gray-base;
      display: none;
      height: 100%;
      padding: 25px 20px;
      position: absolute;
      width: 92%;

      p, a {
        font-size: $font-size-large;
        margin-bottom: 0;
      }

      a {
        font-size: $font-size-medium;

        &.ok {
          margin-right: 20px;
        }

        &.cancel {
          color: $gray-dark;
          margin-left: 20px;
        }
      }
    }

    .active .remove-modal {
      display: block;
    }

    .active .prod-remove a {
      visibility: hidden;
    }
  } 
} 

/* ---------------------------------------------------------------------------
 * 2. Checkout
 * ---------------------------------------------------------------------------
 */

#checkout {
  max-width: 800px;

  h2 {
    font-size: $font-size-extra-large;
  }

  fieldset label {
    display: block;
    font-size: $font-size-medium;
  }

  .nya-bs-select.btn-group{
    width: 100%;

    button {
      border: 2px solid $gray-base;
      text-transform: none;
    }

    .dropdown-menu {
      overflow: auto;
      max-height: 150px;

      &.open {
        border: 2px solid $gray-base;
        border-top: 0;
        margin-top: -2px;
      }
    }
  }
  .nya-bs-select.btn-group.open {
    button {
      border-bottom: 0;
      margin-bottom: 2px;
    }
  }

}