<div class="navbar navbar-default" role="navigation" ng-include="'../partials/top-nav.html'"></div>
<div class="hero">
  <div class="container">
    <nav class="collapse navbar-collapse" role="navigation">
      <a class="logo" href="#/"></a>
      <div class="navigation-main">
        <ul class="nav navbar-nav">
          <li>
            <a href="#/">
              <span data-title="Home" translate>Home</span>
            </a>
          </li>
          <li>
            <a href="#/store" >
              <span data-title="About" translate>Store</span>
            </a>
          </li>
          <li>
            <a href="#/blog">
              <span data-title="Blog" translate>Blog</span>
            </a>
          </li>
          <li>
            <a href="#/contact">
              <span data-title="Contacts" translate>Contacts</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>