
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h2>Login</h2>
            </div>
            <div class="col-md-6">
              <h2>New customer</h2>
              <button class="btn btn-info btn-lg" data-dismiss="modal"ui-sref="checkout">Create account & continue</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

  </div>
