<div class="navbar navbar-default" role="navigation">

  <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
    <ol ng-controller="LangCtrl" class="nya-bs-select select-lang" ng-model="langMod" ng-change="changeLanguage()">
      <li nya-bs-option="lang in languages" >
        <a data-value="{{lang}}">
          <span><span class="flag-icon flag-icon-{{lang}}"></span> {{lang}}</span>
        </a>
      </li>
    </ol>
    <ul class="nav navmenu-nav">
      <li><a href="#/" translate>Home</a></li>
      <li><a href="#/store" translate>Store</a></li>
      <li><a href="#/blog" translate>Blog</a></li>
      <li><a href="#/contact" translate>Contact</a></li>
    </ul>
  </div>

  <div class="navbar navbar-default navbar-fixed-top visible-xs">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="logo small" ng-href="#/"></a>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#/cart">
          <i class="fa fa-cart-plus"></i>
          <span class="text" translate=""><span class="ng-scope">My cart</span></span> 
          <span class="cart active" ng-if="cart.total_items"><span>2</span></span>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="collapse navbar-collapse" id="js-navbar-collapse">

  <ol ng-controller="LangCtrl" class="nya-bs-select select-lang" ng-model="langMod" ng-change="changeLanguage()">
    <li nya-bs-option="lang in languages" >
      <a data-value="{{lang}}">
        <span><span class="flag-icon flag-icon-{{lang}}"></span> {{lang}}</span>
      </a>
    </li>
  </ol>

    <ul class="nav navbar-nav navbar-sticky">
      <li>
        <a href="">
          <span data-title="Home" translate>Home</span>
        </a>
      </li>
      <li>
        <a href="#/store">
          <span data-title="About" translate>Store</span>
        </a>
      </li>
      <li>
        <a href="#/blog">
          <span data-title="Blog" translate>Blog</span>
        </a>
      </li>
      <li>
        <a href="#/contact">
          <span data-title="Contacts" translate>Contacts</span>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
<!--       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-sign-in sign-in-icon"></i>
          <span class="text" translate>Login
            <span class="caret"></span>
          </span>
        </a>
      </li>
      <li>
        <a ui-sref="favourites">
          <i class="fa fa-heart-o"></i>
          <span class="text" translate>Favourites</span>
        </a>
      </li> -->
      <li>
        <a href="#/cart">
          <i class="fa fa-cart-plus"></i>
          <span class="text" translate>My cart</span> 
          <span class="cart active" ng-if="cart.total_items"><span>{{cart.total_items}}</span></span>
          <span class="cart" ng-if="!cart.total_items"><span>{{cart.total_items}}</span></span>
        </a>
      </li>
    </ul>
  </div>
</div>