<div class="container" id="cart">
	<div class="row">
		<div class="large-12 column text-center">
			<h1>My cart</h1>
		</div>
	</div>
	<div class="row" ng-if="!cart.total_items">
		<div class="large-12 column text-center">
			<p translate>You have no items in your shopping cart</p>

			<button class="btn btn-primary" ui-sref="store" translate>Continue shopping</button>
		</div>
	</div>
	<div class="row">
		<div clas="large-12 column">
			<ul ng-if="cart.total_items" class="table">
				<li class="table-row table-head">
					<span class="prod" translate>Product</span>
					<span class="price" translate>Price</span>
					<span class="qty" translate>Qty</span>
					<span class="total" translate>Total</span>
				</li>
				<li class="table-row table-content" ng-repeat="(id, product) in cart.contents" ng-class="{'active': isActive}">
					<div class="accordion">
						<header>
							<div class="prod-item">
								<figure>
									<img ng-src="{{product.images[0].url.http}}" alt="{{product.title}}">
								</figure>
								<span class="prod-content">
									<h3><a ui-sref="product({slug: prod.slug})" title="{{product.title}}">{{product.title}}</a></h3>
									<h4>{{product.brand.value}}</h4>
									<a href="" class="more" translate><i class="fa fa-plus"></i>View more</a>
								</span>
							</div>
							<div class="prod-price">
								<span>{{product.price}}</span>
							</div>
							<div class="prod-qty">
								<span>{{cart.total_items}}</span>
							</div>
							<div class="prod-total">
								<span>{{ cart.totals.pre_discount.formatted.without_tax }}</span>
							</div>
							<div class="prod-remove">
								<a href="" ng-click="isActive = !isActive"><i class="ion-ios-close-empty"></i></a>
							</div>

							<h3>{{modifiers.title}}</h3>
						</header>
					</div>
					<div class="remove-modal">
						<p translate>Do you want to remove "<strong>{{product.title}}</strong>"? </p>
						<p><a href="" ng-click="removeProd(this)" class="ok" translate>Yes please</a> <a href="" class="cancel" ng-click="isActive = !isActive" translate>No thank you</a></p>
					</div>
				</li>
				<li class="table-row table-calcs">
					<div class="sub">
						<span class="calcs-subtotal" translate>Subtotal</span>
						<span class="calcs-price">{{ cart.totals.pre_discount.formatted.without_tax }}</span>
					</div>
					<div class="ship">
						<span class="calcs-shipping" translate>Shipping</span>
						<span class="calcs-price">Free</span>
					</div>
					<div class="tot">
						<span class="calcs-total" translate>Total</span>
						<span class="calcs-price">{{ cart.totals.pre_discount.formatted.without_tax }}</span>
					</div>
					<button type="button" class="btn btn-primary" ui-sref="checkout" translate>Go to checkout</button>
				</li>
			</ul>
		</div>
	</div>
</div>

