<div class="container" id="checkout">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 translate>Checkout</h1>
		</div>
	</div>
	<form ng-submit="createOrder(data)">
		<div class="row">
			<div class="col-md-7">
	            <div class="row">
	            	<div class="col-md-12">
	            		<h2 translate>1. Shipping details</h2>
						<div class="shipping-address">
							<fieldset>
								<label for="ship_{{fields.email_address.slug}}">{{fields.email_address.name}}<sup class="req"> *</sup></label>
								<input type="email" id="ship_{{fields.email_address.slug}}" ng-model="data.ship.email_address" />
								<span class="validation-message" translate>Whoops! We need your {{fields.email_address.name | lowercase}}</span>
							</fieldset>
				          	<fieldset>
								<label for="ship_{{fields.first_name.slug}}">{{fields.first_name.name}}<sup class="req"> *</sup></label>
								<input type="text" id="ship_{{fields.first_name.slug}}" ng-model="data.ship.first_name" />
								<span class="validation-message" translate>Whoops! We need to know your {{fields.first_name.name | lowercase}}</span>
							</fieldset>
							<fieldset>
								<label for="ship_{{fields.last_name.slug}}">{{fields.last_name.name}}<sup class="req"> *</sup></label>
								<input type="text" id="ship_{{fields.last_name.slug}}" ng-model="data.ship.last_name" />
								<span class="validation-message" translate>Whoops! We need to know your {{fields.last_name.name | lowercase}}</span>
							</fieldset>
							<fieldset>
								<label for="ship_{{fields.address_1.slug}}">{{fields.address_1.name}}<sup class="req"> *</sup></label>
								<input type="text" id="ship_{{fields.address_1.slug}}" ng-model="data.ship.address_1" />
								<span class="validation-message" translate>Whoops! You have to give us your {{fields.email_address.name | lowercase}}</span>
							</fieldset>
							<fieldset>
								<label for="ship_{{fields.address_2.slug}}">{{fields.address_2.name}}</label>
								<input type="text" id="ship_{{fields.address_2.slug}}" ng-model="data.ship.address_2" />
							</fieldset>
							<fieldset>
								<label for="ship_{{fields.city.slug}}">{{fields.city.name}}<sup class="req"> *</sup></label>
								<input type="text" id="ship_{{fields.city.slug}}" ng-model="data.ship.city" />
								<span class="validation-message" translate>Whoops! We need to know your {{fields.city.name | lowercase}}</span>
							</fieldset>
							<fieldset>
								<label for="ship_{{fields.postcode.slug}}">{{fields.postcode.name}}<sup class="req"> *</sup></label>
								<input type="text" id="ship_{{fields.postcode.slug}}" ng-model="data.ship.postcode" />
								<span class="validation-message" translate>Whoops! We need your {{fields.postcode.name | lowercase}}</span>
							</fieldset>
							<fieldset>
								<label for="ship_{{fields.country.slug}}">{{fields.country.name}}<sup class="req"> *</sup></label>
								<ol class="nya-bs-select" ng-model="data.ship.country" name="ship_{{fields.country.slug}}">
								    <li nya-bs-option="v in sortable" data-value="v[0]">
								      <a>{{v[1]}}</a>
								    </li>
								</ol>
								<span class="validation-message" translate>Whoops! We need to know your {{fields.country.name | lowercase}}</span>
							</fieldset>
				        </div>

				        <h2 translate>Delivery options</h2>
						<ul>
							<li translate><strong>Shipping type</strong></li>
							<li translate>Home delivery UK</li>
							<li translate>3-5 working days</li>
						</ul>
						<ul>
							<li translate><strong>Shipping fee</strong></li>
							<li translate>Free shipping</li>
						</ul>

						<div class="carrier" ng-repeat="carrier in options.shipping.methods">
		                	<h3 translate>Shipping</h3>
		                  	<label class="radio">
		                    	<input type="radio" name="carrier" value="{{ carrier.slug }}" ng-model="data.shipping" checked="checked" />
		                    	{{ carrier.name }}
		                  	</label>
		                  	<div class="carrier-{{ carrier.slug }}">
		                    	{{ carrier.description }}
		                  	</div>
		                </div>

		                <h2 translate>Payment options</h2>
						<div class="col-md-4" ng-repeat="gateway in options.gateways">
				          	<div class="box padding">
				            	<label class="radio">
			             		<input type="radio" name="gateway" value="{{ gateway.slug }}" ng-model="data.gateway" checked="checked" />
			              		{{ gateway.name }}
			            		</label>
					            <div class="gateway gateway-{{ gateway.slug }}">
					              {{ gateway.description }}
					            </div>
				          	</div>
				        </div>

				        <button class="btn btn-info btn-lg" type="submit" translate>Proceed to payment</button>
	            	</div>
	            </div>
	        </div>
			
			<div class="col-md-5">
				<h3 translate>Items in cart</h3>
				<ul>
					<li class="table-row table-head">
						<span class="prod" translate>Product</span>
						<span class="price" translate>Price</span>
						<span class="qty" translate>Qty</span>
						<span class="total" translate>Total</span>
					</li>
					<li class="table-row table-content" ng-repeat="(id, product) in cart.contents">
						<div class="accordion">
							<header>
								<span class="prodItem">
									<img src="" alt="">
									<span class="prodContent">
										<h3>{{product.title}}</h3>
										<h4>{{product.brand.value}}</h4>
										<a href="" translate>View more</a>
									</span>
								</span>
								<span class="prodPrice">{{product.price}}</span>
								<span class="prodQty"></span>
								<span class="prodTotal"></span>
								<span class="prodRemove">
									<a href="" ng-click="removeProd(this)" translate>Remove</a>
								</span>

								<h3>{{modifiers.title}}</h3>
							</header>
						</div>
					</li>
					<li>
						<div class="sub">
							<span class="subtotal" translate>Subtotal</span>
							<span class="price">{{ cart.totals.pre_discount.formatted.without_tax }}</span>
						</div>
						<div class="ship">
							<span class="shipping" translate>Shipping</span>
							<span class="price" translate>Free</span>
						</div>
						<div class="tot">
							<span class="total" translate>Total</span>
							<span class="price">{{ cart.totals.pre_discount.formatted.without_tax }}</span>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</form>
</div>