<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center" translate>Choose your ring</h1>
    </div>
  </div>

  <!--     <div class="filter" ng-init="brandVal='bond'">
        <input type="text" ng-model="search">
        {{search}} -->
  <!--       <label>Bond<input type="radio" name="brand" ng-model="brandVal" value='bond'></label>
        <label>Ghost<input type="radio" name="brand" ng-model="brandVal" value='ghost' ></label>

        <label>Blue<input type="radio" name="colour" ng-model="search" value='blue'></label>
        <label>Gold<input type="radio" name="colour" ng-model="search" value='gold' ></label> -->
  <!--       <div ng-repeat="product in products | filter:search">
          <h1>{{product.title}}</h1>
          <h1>{{product.price.value}}</h1>
        </div>
      </div> -->


  <div class="row product-list">
    <div class="col-sm-6 col-lg-3 feature" ng-repeat="prod in features">
      <a ui-sref="product({slug: prod.slug})">
        <div class="wrap" get-width>
          <img ng-src="{{prod.images[0].url.http}}" alt="{{prod.title}}">
          <span ng-hide="prod.was_price.value == '£0.00' || prod.was_price.value == '€0.00'" class="sale">Sale</span>
        </div>
        <article class="row">
          <div class="col-lg-8 col-xs-6 col">
            <h3>{{ prod.title }}</h3>
            <h4>{{ prod.brand.value }}</h4>   
          </div>
          <div class="col-lg-4 col-xs-6 col">
            <span class="price">{{ prod.price.value }}</span>
            <span class="was-price" ng-hide="prod.was_price.value == '£0.00' || prod.was_price.value == '€0.00'"><span>{{currency}}</span>{{ prod.was_price.value}}</span>
          </div>
          <div class=""></div>       
        </article>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <a class="btn btn-default" href="#/store" role="button">View all our rings</a>
    </div>
  </div>
</div>


