<div class="container">
	<h1>Payment</h1>

	<form class="loginbox form-horizontal">
		<div class="form-group">
			<label class="control-label col-md-4" for="card">Card Number <span class="required">*</span></label>
			<div class="col-md-8">
			<input class="form-control" id="card" ng-model="data.number" type="text" card-format />
			</div>
		</div>
		<div class="form-group">
		<label class="control-label col-md-4" for="expiry_month">Expiry Date <span class="required">*</span></label>
		<div class="col-md-4">
		<input class="form-control" id="expiry_month" ng-model="data.expiry_month" type="text" placeholder="DD" />
		</div>
		<div class="col-md-4">
		<input class="form-control" id="expiry_year" ng-model="data.expiry_year" type="text" placeholder="YYYY" />
		</div>
		</div>
		<div class="form-group">
		<label class="control-label col-md-4" for="start_month">Start Date</label>
		<div class="col-md-4">
		<input class="form-control" id="start_month" ng-model="data.start_month" type="text" placeholder="DD" />
		</div>
		<div class="col-md-4">
		<input class="form-control" id="start_year" ng-model="data.start_year" type="text" placeholder="YYYY" />
		</div>
		</div>
		<div class="form-group">
		<label class="control-label col-md-4" for="cv2">CV2 <span class="required">*</span></label>
		<div class="col-md-4">
		<input class="form-control" id="cv2" ng-model="data.cvv" type="text" />
		</div>
		</div>
		<div class="form-group">
		<div class="col-md-12">
		<button class="btn btn-primary" type="button" ng-click="payment(data)">Pay</button>
		</div>
		</div>

		<div class="col-md-6">
				<h3>Items in cart</h3>
				<ul>
					<li class="table-row table-head">
						<span class="prod">Product</span>
						<span class="price">Price</span>
						<span class="qty">Qty</span>
						<span class="total">Total</span>
					</li>
					<li class="table-row table-content" ng-repeat="(id, product) in cart.contents">
						<div class="accordion">
							<header>
								<span class="prodItem">
									<img src="" alt="">
									<span class="prodContent">
										<h3>{{product.title}}</h3>
										<h4>{{product.brand.value}}</h4>
										<a href="">View more</a>
									</span>
								</span>
								<span class="prodPrice">{{product.price}}</span>
								<span class="prodQty"></span>
								<span class="prodTotal"></span>

								<h3>{{modifiers.title}}</h3>
							</header>
						</div>
					</li>
					<li>
						<div class="sub">
							<span class="subtotal">Subtotal</span>
							<span class="price">{{ cart.totals.pre_discount.formatted.without_tax }}</span>
						</div>
						<div class="ship">
							<span class="shipping">Shipping</span>
							<span class="price">Free</span>
						</div>
						<div class="tot">
							<span class="total">Total</span>
							<span class="price">{{ cart.totals.pre_discount.formatted.without_tax }}</span>
						</div>
					</li>

				</ul>
			</div>
	</form>
</div>


