<div class="bg-wrap">
	<div class="container" id="pdp">
		<div class="row" >
			<div class="col-md-6">
				<img ng-src="{{product.images[0].url.http}}" alt="{{product.title}}">
			</div>
			<div class="col-md-6">
				<header>
					<h1> {{product.title}} </h1>
					<h2> {{product.brand.value}} </h2>
					<ul>
						<li class="price">{{product.price.value}}</li>
						<li class="stock">{{ product.stock_status.value }}</li>
					</ul>
				</header>

				<article>
					
					<div class="description">
						<div class="content">
						{{ product.description }}
						</div>
						<div class="link">
							<a href="" translate class="more"><i class="fa fa-arrow-down"></i>More details</a>
							<a href="" translate class="less"><i class="fa fa-arrow-up"></i>Less details</a>
						</div>
					</div>
					<form class="simple-mods">

		        		<fieldset ng-repeat="modifier in modifiers">
		  					<label for="{{ modifier.id }}">{{ modifier.title }}</label>
							  <ol class="nya-bs-select" ng-model="mod[modifier.id]" id="{{ modifier.title }}" ng-change="update()">
							    <li nya-bs-option="variation in modifier.variations" >
							      <a value="{{variation.id}}" ng-mod="{{modifier.id}}">
							        {{variation.title}}
							      </a>
							    </li>
							  </ol>
							<span class="tooltip validation" translate>
								Please choose a {{ modifier.title | lowercase }} 
								<a href="" class="close" ng-click="closeTip()"><i class="ion-android-close"></i></a>
							</span>
						</fieldset>

						
						<fieldset class="text-right">
							<!-- Button -->
							<button ng-click="addCart()" ng-if="standard" class="btn btn-primary"  translate>
								<svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
								    <path d="M0 0h24v24H0zm18.31 6l-2.76 5z" fill="none"/>
								    <path d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"/>
								</svg>
								Add to cart
							</button>
							<!-- Button spinner -->
							<button ng-if="spinner" class="btn btn-primary">
								<svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
								    <path d="M0 0h24v24H0zm18.31 6l-2.76 5z" fill="none"/>
								    <path d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"/>
								</svg>
								<i class="fa fa-circle-o-notch fa-spin"></i>
							</button>
							<!-- Success -->
							<button ng-if="success" class="btn btn-primary">
								<svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
								    <path d="M0 0h24v24H0zm18.31 6l-2.76 5z" fill="none"/>
								    <path d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"/>
								</svg>
								Success
							</button>
							<!-- <button ng-if="addStatus" class="btn btn-warning" ng-bind-html="addStatus">{{ addStatus }}</button> -->
							<button class="btn btn-default favourites"><i class="fa fa-heart-o"></i></button>
						</fieldset>
					</form>
				</article>
			</div>
		</div>
	</div>
</div>


