<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Store</h1>
    </div>
  </div>


  <div class="row product-list">
    <div class="col-sm-6 col-lg-3 products" ng-repeat="prod in products">
      <a ui-sref="product({slug: prod.slug})">
        <div class="wrap" get-width>
          <img ng-src="{{prod.images[0].url.http}}" alt="{{prod.title}}">
          <span ng-hide="prod.was_price.value == '£0.00' || prod.was_price.value == '€0.00'" class="sale">Sale</span>
        </div>
        <article class="row">
          <div class="col-lg-8 col-xs-6 col">
            <h3>{{ prod.title }}</h3>
            <h4>{{ prod.brand.value }}</h4>   
          </div>
          <div class="col-lg-4 col-xs-6 col">
            <span class="price">{{ prod.price.value }}</span>
            <span class="was-price" ng-hide="prod.was_price.value == '£0.00' || prod.was_price.value == '€0.00'"><span>{{currency}}</span>{{ prod.was_price.value}}</span>
          </div>
          <div class=""></div>       
        </article>
      </a>
    </div>
    <div class="clearfix" ng-if="$index%4 == 3"></div>
    <div ng-repeat-end=""></div>
  </div>
</div>
